@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Molle:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor0: #A68160;
    --cor1: #8C5637;
    --cor2: #592B11;

    --fonte-padrao: Arial, Verdana ,Helvetica, sans-serif;
    --fonte-titulo: "Lobster", sans-serif;
    --fonte-sub-titulo: "Molle", cursive;
    --fonte-paragrafo: "Montserrat", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    min-height: 100vh;
}

main h1{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2.6em;
    color: white;
    text-shadow: 4px 3px 10px rgba(0, 0, 0, 0.562);
}

main h2{
    text-align: center;
    font-family: var(--fonte-sub-titulo);
}

main p {
    font-family: var(--fonte-paragrafo);
    line-height: 1.7em;
    font-size: 1.1em;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.438);
}

header{
    position: fixed;
    z-index: 999;
    width: 100%;
    min-height: 80px;
    background-color: white;
    text-align: center;
    align-content: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.192);
}

nav{
    font-weight: bold;
}

nav > a{
    display: inline-block;
    text-decoration: none;
    margin: 12px;
    padding: 8px;
    font-weight: bold;
    color: #A68160;
    transition-duration: 0.5s;
}

nav > a:hover{
    border-radius: 8px;
    transform: scale(1.07);
    background-color: #bd8f7869;
}

nav img{
    margin-left: 50px;
    margin-right: 50px;
}

#imagem-principal{
    align-content: center;
    text-align: center;
    background-image: url('imagens/');
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.226);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.192);
}

#sobre{
    text-align: center;
    padding-top: 60px;
    width: 100%;
    background-color: rgba(163, 86, 86, 0.795);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.192);
}

#container-sobre-nos{
    margin: 80px;
    color: white;
    text-align: justify;
    justify-self: center;
}

#container-card-sobre-nos{
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    padding: 80px;
    gap: 40px;
    justify-content: center;
}

.card-sobre-nos{
    border: 1px solid black;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition-duration: 0.5s;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.219);
}

.card-sobre-nos:hover{
    transform: scale(1.01);
}

.card-sobre-nos > h2{
    background-color: rgb(70, 42, 42);
    padding: 10px;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-sobre-nos > p{
    padding: 5px;
    font-size: 1.0em;
}


#pacotes{
    padding-top: 60px;
    width: 100%;
    background-color: rgba(49, 27, 27, 0.795);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.192);
}

#pacotes > h1{
    margin-bottom: 58px;
}

#container-card-packs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 100px;
}

.card-packs{
    border: 1px solid black;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 500px;
    height: 300px;
    transition-duration: 0.5s;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.219);
}

.card-packs:hover{
    transform: scale(1.01);
}

.card-packs h2{
    background-color: rgb(70, 42, 42);
    padding: 10px;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-packs > ul{
    list-style: none;
    font-size: 1.0em;
    padding: 15px;
    list-style-position: inside;
}

